body{
    background-color: #F9F9F9;
    margin: 0;
}
.fa-solid {
    color: #434242;
}
.btn{
    background-color: #AA8B56;
}

.header{
    position: fixed;
    width: 80%;
}


.leading-par{
    background-color: #205375;
    padding-bottom: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    width: 70%;
    padding-top: 100px;
}
.navbar-toggler {
    border: none;
}
.input-group {
    position: relative;

}
.btn-pos {
    position: absolute;
    border-radius: 5px;
    top: 12px;
    right: 6px;
}
.input-group-text{
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: none;
    top: 18.5px;
    left: 3px;
}
.form-inline .form-control{
height: 65px;
}
.order-cards:hover{
    background-color: #205375;
    color: white;
}
.order-cards{
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    height: 285px;
    width: 285px;
}
.fa-chevron-right{
    color: #205375;
}
.arrow {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #fff;
}
.arrow:hover{
background-color: #AA8B56;
}
.circle-2 {
    border-radius: 50%;
    min-height: 400px;
    min-width: 400px;
    background-color: #205375;
}
.about-us{
    margin-top: 175px;
}
.aboutUs-txt{
    color: #434242;
}
.special-menu{
    background-color: #EFEFEF;
}
.about-us-btn{
    width: 25%;
    padding: 10px 0 10px 0;
}
#inlineFormInputGroupUsername2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card-img-top{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(360deg, #C8DEFD 0%, #205375 95%);
} 
.special-card{
    border: none;
    border-radius: 2rem;  
}
/*.special-card::before{
    content: url("../img/blue.jpg");
    height: 200px;
    width: 200px;
    border-radius: 50%;

}*/ 
@media (min-width: 320px) and (max-width: 767px) {
    .leading-par{
        width: 100%;
    }
    .about-us-btn{
        width: 100%;
        background-color: #205375;
    }
    
  }
  @media (min-width: 767px) and (max-width: 1300px) {
    .leading-par{
        width: 60%;
    }
    
  }
  